<ul class="layui-nav layui-bg-molv" lay-filter="">
    <i class="layui-icon layui-icon-tree"></i>
    <li class="layui-nav-item">
      <a href="">写文章<span class="layui-badge-dot"></span></a>
    </li>
    <li class="layui-nav-item">
      <a href="">退出</a>
    </li>
  </ul>