<!-- <ul class="layui-nav layui-bg-molv" lay-filter="">
    <i class="layui-icon layui-icon-tree"></i>
    <li class="layui-nav-item">
      <a href="">写文章<span class="layui-badge-dot"></span></a>
    </li>
    <li class="layui-nav-item">
      <a href="">退出</a>
    </li>
  </ul> -->
  <ul class="layui-nav" lay-filter="">
    <i class="layui-icon layui-icon-tree"></i>
    
    <li class="layui-nav-item">
      <a href="/write">写文章<span class="layui-badge-dot"></span></a>
    </li>
    <li class="layui-nav-item" class="right">
      <% if(username) { %>
        <p style="color: coral;">
          <%= username %>
        </p>
      <% } else { %>
    
        <a href="login">登录/注册</a>
      <% } %>
    </li>
    <li class="layui-nav-item">
      <a href="/">首页</a>
    </li>
    <li class="layui-nav-item">
      <a href="details">详情</a>
    </li>
    <li class="layui-nav-item" class="right">
      <a href="login">退出</a>
    </li>
  </ul>
  <link rel="stylesheet" href="/stylesheets/all.css">
  <style>
  .layui-nav{
    background-color: rgba(128, 128, 128, 0.2);
  }
  .right{
    float: right;
  }
  </style>