<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('head',{}) %>
    <title>写文章</title>
</head>
<body>
    <%- include('header',{}) %>
    <div class="layui-container">
        <div class="layui-row">
            <input type="text" name="title" required placeholder="请输入文章标题" class="layui-input">
            <div style="height: 130px;border: gainsboro solid 1px;"></div>
            <button type="button" class="layui-btn">发布</button> 
        </div>
    </div>
</body>
</html>